/* Global */
body {
    font-family:"Times New Roman";
    }
    
    /* Queue */
    .queue-container {
        .queue {
            .queue__title {
                .queueBadge {
                }
            }
        }
    }
    
    /* Hierarchy Editor */
    #hierarchy-editor {
            /* Bullets */
            .rem-bullet__container {
                .rem-bullet {
                }
            }
    
            /* Editor */
            .rem-text {
            }
    
            /* Portals */
            .portal-rem {
                .portal-rem-top {
                }
            }
    
            /* Reference and Tag Sections */
            #hierarchy-editor-references {
            }
            #hierarchy_editor__tag-bar {
                #hierarchy-editor__tag-bar__tag {
                    #hierarchy-editor__tag-bar__tag__delete {
                    }
                }
            }
    
            /* Bottom Toolbar */
            .hierarchy-editor-toolbar {
            }
    }
    
    /* Rem-Level Formatting */
    .rem-header--1 {
    }
    .rem-header--2 {
    }
    .rem-header--3 {
    }
    
    /* Text-Level Formatting */
    .rem-reference {
    }
    .quote {
    }
    .cloze {
    }
    
    .highlight-color--red {
        background-color:#ffadab80!important;
        padding: 0px 5px;}
    
    .highlight-color--orange {
        background-color:#ffda9680!important;
        padding: 0px 5px;
    }
    .highlight-color--yellow {
        background-color: #fcff8f80!important;
        padding: 0px 5px;
    }
    .highlight-color--green {
        background-color: #b5e9a680!important;
        padding: 0px 5px;
    }
    .highlight-color--blue {
        background-color: #1179ff!important;
        padding: 0px 5px;
    }
    .highlight-color--purple {
        background-color: rgba(199, 53, 175, 0.884)!important;
        padding: 0px 5px;
    }
    
    .work-in-progress-rem {
    }
    .work-in-progress-tag {
    }
    
    /* Documents */
    .document {
        #document-parents {
        }
    }
    
    /* Document Sidebar */
    #document-sidebar {
        .document-sidebar_top {
            .document-sidebar_top__logo-and-user {
            }
        }
            .document-list-item__container {
                .document-list-item {
                }
            }
        .document-sidebar__buttons {
        }
    }
    
    /* ===== My CODE ===== */
    #i.file.text.small.icon{
    display:none;
    }
    .LatexNode .latex-node__latex {
    display:none; 
    }
    
    .rem-indented-indicator {
    display: none;
    }
    :root {
        --accent: #67bcf9;
        --accent2: #0cb2ff;
        --accent3: #2584f8;
        --accentstrong: #ff0000a3;
        --bgcol: #fff;
        --bglight: #f8f8f8;
        --bgmed: #bfbfbf;
        --border: #c8c8c8;
        --borderlight: #e4e4e4;
        --codebg: #1d2429;
        --currentsel: #bdeefe78;
        --currentsel2: #8deafa;
        --flash: #ffffa5;
        --focusrem: #ff5d7240;
        --hover: #ccedf4a8;
        --linknode: #0e8dfc;
        --neutraldark: #4d4d4d;
        --portal: #d6f4f9;
        --queuebadge: black;
        --queuebg: #1179ff;
        --queuetext: white;
        --quotebg: #eff8f6;
        --quoteborder: #e7e7e7;
        --quotetext: #f90b63;
        --remcustomicon: #33e308;
        --remindent: #5aadea99;
        --remlink: #0072e4;
        --remrefbg: #f7fdc4db;
        --search: #b67fec;
        --secondary: #85e80e;
        --shadow: #00000030;
        --tagbg: #feffd5;
        --tagcol: #303030;
        --main-background-c: #fff;     /* Main Window, Bottom Bar, Doc View, Sticky Top, Pages, Queue */
    --secondary-background-c: #fbfbfb;     /* Sidebar, Quotes, icons, Portals, Embedded Search, Settings Menu */
    --elevated-background-c: #fbfcfc;     /* Queue Cards, Popups */
    --hover-background-c: rgba(173, 216, 230, .5);     /* Hover */
    
    --border-c: #eee;

    --font-c: #222;
    --font-dark-c: #787878;
    --font-background-c: #aaa;

    --font-red-c: #f06f73;
    --blue-c: #add8e6;

    --main-font-spacing: 0.01em;
    --bold-font-spacing: 0.02em;
    --semiwide-font-spacing: 0.05em;
    --wide-font-spacing: 0.1em;

    --normal-font-weight: 400;
    --focus-font-weight: 500;
    --bold-font-weight: 600;
    }

    
    /*===========================*/
    #ArticleQueue .QueueFocused {
        box-shadow: 0 0 0 5px var(--currentsel2);
    }
    .Queue {
        margin: auto;
        background-color: var(--bgcol);
        border: thin solid var(--queuebg);
        display: inline-block;
        min-width: 400px;
    }
    .Queue #queue__title {
        background-color: var(--queuebg);
        text-align: center;
        padding: 4px;
        position: relative;
        color: var(--queuetext);
    }
    .Queue #queue__progress-bar {
        background-color: var(--secondary) !important;
        height: 3px;
    }
    .Queue #QueueBadge {
        padding: 2px;
        margin: 2px 2px 2px 10px;
        border-style: none;
        border-radius: 10px;
        display: inline-block;
        background-color: var(--queuebadge);
        text-align: center;
    }
    .spacedRepetition .spaced-repetition__reveal {
        background-color: var(--queuebg);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--queuetext);
    }
    .spacedRepetition .spaced-repetition__bottom {
        bottom: 0;
        height: 100px;
        background-color: var(--queuebg);
        margin-top: auto;
        z-index: 1;
    }
    .queue__buttons {
        display: flex;
        background-color: var(--queuebg);
        height: 50%;
    }
    .queue__response-button {
        color: var(--queuetext);
    }
    .queue__response-button:hover {
        background-color: var(--secondary);
        color: var(--queuetext);
    }
    .spacedRepetition .fill-in-the-blank {
        color: var(--queuebg);
    }
    .Queue #queue__title #QueueBackButton:hover {
        background-color: var(--secondary);
        color: #fff;
    }

    /* Quote */
    #code-node,
    #quote,
    .quote {
        background-color:#eee;
        border: none;
        color: var(--font-dark-c);
        padding: 1px;
        padding-left: 7px;
        padding-right: 7px;
    }

    /* Documents List */
    /*
    #DocumentTable .ReactVirtualized__Table {
        height: auto;
        min-height: 100% !important;        
        flex: 1 1 65%;
    }
    
    .ReactVirtualized__Table__headerRow {    
        display: flex;
        flex: 0 0 auto;
        height: auto;
        min-height: 100% !important;  
        margin-left: 15px;
        text-align: center;
        color: /*var(--font-background-c)*/;
        font-weight: var(--normal-font-weight);
        letter-spacing: var(--wide-font-spacing);
        font-size: 12px;
        padding-bottom: 5px;
    }
        
    .ReactVirtualized__Grid__innerScrollContainer  {
        height: auto !important;
        min-height: 100% !important;    
        overflow-y: scroll!important;
        margin-left: 15px;
    }
    
    .ReactVirtualized__Table__row[style*="background-color: rgba(1\, 1\, 1\, 0.1);"],   
    .ReactVirtualized__Table__row {
        color: var(--font-c)!important;
        background-color: /*transparent!important*/;
        border-top: 1px solid var(--border-c);
        height: auto !important;
        min-height: 100% !important;
    }
    
    .ReactVirtualized__Grid__innerScrollContainer > * {
        display: flex;
        flex: 0 0 auto;
        top: 0!important;
        margin-top: 0px;
        position: sticky!important;
        padding: 5px;
        height: auto;
        min-height: 100% !important;  
    }
    
    #DocumentTable .ReactVirtualized__Table__rowColumn {
        height: auto!important;
        min-height: 100% !important;    
        display: flex!important;
    }
    
     #DocumentTable .DocumentLink:hover {
        background-color: /*transparent*/;
        color: /*var(--font-c)!important*/;
    }

    #DocumentTable .DocumentLink {
        color: /*var(--font-background-c)!important*/;
    }

    #DocumentTable a:hover,
    #DocumentTable .blackLinks a:hover {
        font-weight: var(--focus-font-weight);
        letter-spacing: -0.01em;
    }
    
    .ReactVirtualized__Table__rowColumn[style*="flex: 0 1 690px;"]:hover {
        background-color:/* #5da1b44d!important*/;
    }
    
    #DocumentTable .Cell {
        margin-left: auto;
        margin-right: auto;
    }*/