
* {
    /*background-color: #D4A1EE;*/
    background-color: aqua;
    font-family: Noto Sans;
}
/* ở trên là điểu chỉnh màu sắc cho cả trang, background màu hồng */

/*body {
}
*/

h1 {
	border:1px solid #4a7d49;
    text-align: center;
    color: blue; /*màu này nhìn ok vãi cít*/ /* 17Apr2020-hhết ok rồi*/
    background-color: none;
}

p{color: black
}
/* màu sắc cho tất cả các đoạn text trong tag <p> */
.test{
	align-items: center;
}